@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


body{
    margin: 0 5% 0 5%;
}
nav{
    margin-top:30px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul > li{
    display: inline;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #646464;
    margin-right: 30px;
}
ul>li:last-child
{
    margin-right: 64px;
}

.Logo{
    width: 151px;
    height: 47px;
}
.Logo>img{
    width: 151px;
    height: 47px;
}
.Sign-Up{
    width: 97px;
    height: 32px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

    background-color: #CAA892;
    border-radius: 15px 0;
    border: none;
}


main{
    display: grid;
    grid-template-columns: 603px  717px;
    grid-template-rows: 200px 150px 100px 200px;
    grid-column-gap: 44px;
    grid-row-gap: 1em;
    margin-top: 100px;
}

h2{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
}
h1{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
}
p{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
}

main>h2{
    font-size: 20px;
    line-height: 27px;
    color: #646464;
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:1;
    grid-row-end:2;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

main > h1{

    font-size: 72px;
    line-height: 78px;
    color: #212121;
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:2;
    grid-row-end:3;
    margin: 0;
    display: flex;
    align-items: center;
}


main>p{
    font-size: 18px;
    line-height: 30px;
    color: #646464;
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:3;
    grid-row-end:4;
    margin: 0;
    display: flex;
    align-items: center;
}
.Contact{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    width: 142px;
    height: 42px;
    background: #37806B;
    border-radius: 20px 0;
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:4;
    grid-row-end:5;
    margin: 0;
}

.ImageContainer{
    display: inline;
    flex-direction: column;
    align-items: center;
    width: 717px;
    height: 626px;

}

.Img>img{
    width: 717px;
    height: 626px;
    border-radius: 140px 0;

    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:1;
    grid-row-end:5;
    z-index: 2;
}
.BorderImg{
    border-radius: 140px 0;
    border: 2px solid #B0855B;
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:1;
    grid-row-end:5;
    width: 717px;
    height: 626px;
    z-index: -1;
    position: relative;
    top: -600px;
    left: 30px;

}


.WhatWeDoHeader{

    font-size: 20px;
    letter-spacing: -0.01em;
    color: #646464;
    margin: 0;
}
.ServiceHeader{
    font-size: 48px;
    color: #212121;
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.Buttons{
    display: flex;
    align-items: flex-end;
    margin: 0 18px 0 0;
}
.LeftButton{
    background: #FFFFFF;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    color: #646464;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 100px ;

    font-weight: bolder;
    margin: 0 10px 0 0;
}
.RightButton{
    background: #37806B;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 100px ;

    font-weight: bolder;
    margin: 0 18px 0 0;
}

.FlexHeader{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.Container{
    width: 425px;
    height: 193px;

    background: #FFFFFF;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0;
    display: flex;
}

.Container > h3{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #212121;
    margin: 40px 0 0 0;
}
.Container > p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #646464;
}
.Container2{
    width: 425px;
    height: 193px;

    background: #CAA892;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0;
    display: flex;
}

.TextContainer>h3{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #212121;
    margin: 40px 0 0 0 ;
}
.TextContainer>p{
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #646464;
}
.TextContainer2>p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.TextContainer2>h3{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    margin: 40px 0 0 0 ;
}

.FlexContainer{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 50px;
}

.Container>img{
    width: 40px;
    height: 40px;
    margin-top: 40px ;
    margin-left: 37px;
    margin-right: 20px;
}

.Container2>img{
    width: 40px;
    height: 40px;
    margin-top: 40px ;
    margin-left: 37px;
    margin-right: 20px;
}

section{
    margin: 0 0 20px 0;
}