@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


body
{
    margin: 0 251px  0 268px;
}
nav{
    margin-top:30px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul > li{
    display: inline;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #646464;
    margin-right: 30px;
}
ul>li:last-child
{
    margin-right: 64px;
}

.Logo{
    width: 151px;
    height: 47px;
}
.Sign-Up{
    width: 97px;
    height: 32px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

    background-color: #CAA892;
    border-radius: 15px 0;
    border: none;
}


main{
    display: grid;
    grid-template-columns: 603px  717px;
    grid-template-rows: 200px 150px 100px 200px;
    grid-column-gap: 44px;
    grid-row-gap: 1em;
    margin-top: 100px;
}

main>h2{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #646464;
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:1;
    grid-row-end:2;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

main > h1{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 78px;


    color: #212121;

    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:2;
    grid-row-end:3;

    margin: 0;

    display: flex;
    align-items: center;
}


main>p{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #646464;
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:3;
    grid-row-end:4;
    margin: 0;
    display: flex;
    align-items: center;
}
.Contact{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    width: 142px;
    height: 42px;
    background: #37806B;
    border-radius: 20px 0;
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:4;
    grid-row-end:5;
    margin: 0;
}

.ImageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BorderImg>img{
    width: 717px;
    height: 626px;
    border-radius: 140px 0;

    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:1;
    grid-row-end:5;
}
.BorderImg{
    width: 717px;
    height: 626px;
    border-radius: 140px 0;
    border: 2px solid #B0855B;
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:1;
    grid-row-end:5;
}
